
<div class="about-us">
    <div class="about-box">
        <div [class]="text">
    <p>About us</p>
    <p>האתר המסחרי המוביל במכירת טלפונים</p>
    <p>מבצעי הפרויקט</p>
    <button [class]="style" (click)="change_color()">{{text}}</button>
     </div>   
</div>
</div>
<br>
<br>

<div class="project-container">
    
    <div class="project-box">
        <div [class]="text">
       <img class="project-image" [src]="imgUrl">
       <p>{{name1}}</p>
       <p>{{id1}}</p>
       </div>
    </div>

    <div class="project-box">
        <div [class]="text">
         <img class="project-image" [src]="imgUrl3">
        <p>{{name2}}</p>
        <p>{{id2}}</p>
       
 </div>
</div>

    <div class="project-box">
        <div [class]="text">
        <img class="project-image" [src]="imgUrl2">
    <p>{{name3}}</p>
    <p>{{id3}}</p>
   </div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
