
  <div class="na">
    <a routerLink="home" routerLinkActive="active-link">Home</a>
    <a routerLink="catalog" routerLinkActive="active-link">Categories</a>
    <a routerLink="cart" routerLinkActive="active-link">cart</a>
    <a routerLink="about" routerLinkActive="active-link">About us</a>
    <div *ngIf="!loggedIn; then login else profile"></div>
    <ng-template #login>
      <a routerLink="profile" routerLinkActive="active">Login</a>
    </ng-template>
    <ng-template #profile>
      <li class="dropdown" ngbDropdown>
        <a class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          profile
        </a>
        <ul class="dropdown-menu"  ngbDropdownMenu aria-labelledby="dropdownMenuButton">
          <li class="dropdown-item"><button class="btn btn-link" (click)="userDetails()">User details</button></li>
          <li class="dropdown-item"><button class="btn btn-link" (click)="logout()">Logout</button></li>
        </ul>
      </li>
    </ng-template>
 
</div>